@font-face {
  font-family: "fa";
  /* Project id 2885707 */
  src: url("iconfont.woff2") format("woff2"),
    url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype");
}

.fa {
  font-family: "fa" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-address:before{
  content:'\e615'
}
.fa-upload:before{
  content:'\e605'
}

.fa-center-arrow:before{
  content:'\eb08'
}

.fa-cert-check:before{
  content:'\e621'
}

.fa-cert-wrong:before{
  content:'\e610'
}

.fa-tab-home:before{
  content:'\e62e'
}
.fa-tab-manage:before{
  content:'\e622'
}
.fa-tab-college:before{
  content:'\e603'
}
.fa-tab-person:before{
  content:'\e611'
}

.fa-tab-rescue:before{
  content:'\e616'
}

.fa-select:before{
  content:'\e623'
}

.fa-navigation:before{
  content:'\e617'
}

.fa-index-close:before{
  content:'\e612'
}

.fa-filter:before{
  content:'\e609'
}
.fa-device-add:before{
  content:'\e62b'
}

.fa-device-time:before{
  content:'\e606'
}

.fa-run:before{
  content:'\e61b'
}
.fa-location:before{
  content:'\e625'
}
.fa-battery:before{
  content:'\e618'
}
.fa-wifi:before{
  content:'\e62a'
}
.fa-electrode:before{
  content:'\e60d'
}
.fa-hasCheck:before{
  content:'\e61e'
}

.fa-aed:before{
  content:'\e600'
}

.fa-cpr:before{
  content:'\e601'
}

.fa-call-helper:before{
  content:'\e62f'
}

.fa-right-arrow:before{
  content:'\e608'
}

.fa-phone:before{
  content:'\e633'
}