@import "../src/assets/fonts/iconfont.css";
@unocss all;
page{
    
    height: 100%;
    overflow:hidden;
    background: #ededed;
}
.nut-cell__title{
    width:auto !important;
}
.nut-cell-group .nut-cell::after{
    border-bottom:none !important;
}
.home {
    display:flex;
    flex-direction: column;
    height:100%;
    overflow:hidden;
}

.home .main{
    flex:1;
    overflow:hidden;
}
.jx-textarea  .nut-textarea{
    height: 100%;
    background: #f8f8f8 !important;
}
.jx-textarea .nut-textarea .nut-textarea__textarea {
    height: 100%;
    padding: 22px 21px;
}

.jx-button {
    width: 120px !important;
    height: 48px !important;
    font-size: 26px !important;
    line-height: 48px !important;
    white-space: nowrap;
}

.nut-textarea__textarea {
    text-align: left !important;
}
.nut-button--disabled{
    opacity:0.5 !important;
}
.nut-cell{
    word-break: break-all !important;
}
.jx-form-item {
    padding:51px 0 51px 51px;
    border-bottom: 1px solid #DBDBDB;
}
.jx-search {
    background: transparent !important;

  
}

.jx-search .nut-searchbar__search-input {
    background: #fff;
    height: 84px;
}

.nut-searchbar__search-input .nut-searchbar__input-inner-icon{
    padding:0 !important;
}

.person-center {
    background: url(./assets/images/center/bg.png) no-repeat;
    background-size: 100% 100%;
}
