@import "../src/assets/fonts/iconfont.css";
@unocss all;
page{
    
    height: 100%;
    overflow:hidden;
    background: #ededed;
}

.home {
    display:flex;
    flex-direction: column;
    height:100%;
    overflow:hidden;
}

.home .main{
    flex:1;
    overflow:hidden;
}